[submodule "vim/pack/ross/start/ack.vim"]
	path = vim/pack/ross/start/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/pack/ross/start/ctrlp.vim"]
	path = vim/pack/ross/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/ross/start/editorconfig-vim"]
	path = vim/pack/ross/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/ross/start/lightline.vim"]
	path = vim/pack/ross/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/ross/start/mustache"]
	path = vim/pack/ross/start/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/pack/ross/start/nord-vim"]
	path = vim/pack/ross/start/nord-vim
	url = git://github.com/arcticicestudio/nord-vim.git
[submodule "vim/pack/ross/start/tabular"]
	path = vim/pack/ross/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/ross/start/typescript-vim"]
	path = vim/pack/ross/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/ross/start/ultisnips"]
	path = vim/pack/ross/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/pack/ross/start/vim-abolish"]
	path = vim/pack/ross/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/pack/ross/start/vim-es6"]
	path = vim/pack/ross/start/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "vim/pack/ross/start/vim-fugitive"]
	path = vim/pack/ross/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/ross/start/vim-gitgutter"]
	path = vim/pack/ross/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/ross/start/vim-javascript"]
	path = vim/pack/ross/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/ross/start/vim-multiple-cursors"]
	path = vim/pack/ross/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/ross/start/vim-prettier"]
	path = vim/pack/ross/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "vim/pack/ross/start/vim-snippets"]
	path = vim/pack/ross/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/pack/ross/start/vim-test"]
	path = vim/pack/ross/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "vim/pack/ross/start/vim-vinegar"]
	path = vim/pack/ross/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim/pack/ross/start/vim-sensible"]
	path = vim/pack/ross/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/pack/ross/start/vim-surround"]
	path = vim/pack/ross/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/ross/start/vim-dispatch"]
	path = vim/pack/ross/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "vim/pack/ross/start/ale"]
	path = vim/pack/ross/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/pack/ross/start/nerdcommenter"]
	path = vim/pack/ross/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
