[submodule "vim/bundle/ack.vim"]
  path = vim/bundle/ack.vim
  url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/bufexplorer"]
  path = vim/bundle/bufexplorer
  url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/mustache"]
  path = vim/bundle/mustache
  url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/tabular"]
  path = vim/bundle/tabular
  url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/tlib_vim"]
  path = vim/bundle/tlib_vim
  url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
  path = vim/bundle/vim-addon-mw-utils
  url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-coffee-script"]
  path = vim/bundle/vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-coldfusion-snippets"]
  path = vim/bundle/vim-coldfusion-snippets
  url = https://github.com/MWers/vim-coldfusion-snippets.git
[submodule "vim/bundle/vim-dispatch"]
  path = vim/bundle/vim-dispatch
  url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/vim-fugitive"]
  path = vim/bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-multiple-cursors"]
  path = vim/bundle/vim-multiple-cursors
  url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-rails"]
  path = vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rspec"]
  path = vim/bundle/vim-rspec
  url = https://github.com/thoughtbot/vim-rspec.git
[submodule "vim/bundle/vim-snipmate"]
  path = vim/bundle/vim-snipmate
  url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
  path = vim/bundle/vim-snippets
  url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-surround"]
  path = vim/bundle/vim-surround
  url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/dash.vim"]
	path = vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
